#contacts-page {
  display: flex;
  flex-direction: column;
  font-family: var(--website-font-family);
  font-optical-sizing: auto;
  font-style: normal;
  padding: 10% 5% 2% 5%;
  height: 75vh;

  h1 {
    color: var(--primary-color);
  }

  p {
    font-weight: 300;
    color: var(--text-color);
  }

  form {
    padding: 0 0 5% 0;
    @media (min-width: 768px) {
      margin: 0 10% 0 0;
    }

    .MuiInput-root, .MuiTextarea-root, .MuiInput-input, .MuiTextarea-input {
      font-family: var(--website-font-family);
      background-color: var(--secondary-color);
      color: var(--text-color);
    }

    .MuiInput-root {
      --Input-focusedThickness: 1px;
      --Input-focusedHighlight: var(--primary-color);

      .MuiInput-startDecorator {
        color: var(--text-color);
        opacity: 0.5;
      }

      input::placeholder {
        color: var(--text-color);
        font-weight: 300;
      }
    }

    .MuiTextarea-root {
      --Textarea-focusedThickness: 1px;
      --Textarea-focusedHighlight: var(--primary-color);

      .MuiTextarea-startDecorator {
        margin-left: 0px;
        color: var(--text-color);
        font-weight: 300;
        opacity: 0.6;

        .MuiSvgIcon-root {
          margin-right: 8px;
        }
      }
    }

    .MuiButton-root {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: max-content;
      font-family: var(--website-font-family);
      background-color: var(--primary-color);
      color: var(--text-color);

      svg {
        transform: rotate(-45deg);
      }

      &:disabled {
        opacity: 0.5;
      }

      .MuiCircularProgress-svg {
        --CircularProgress-progressColor: var(--primary-color);
      }
    }
  }
}
