@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@import url("./sections/header.css");
@import url("./sections/whoami.css");
@import url("./sections/projects.css");

@import url("./discover-more.css");
@import url("./language-switch.css");

:root {
  --homepage-font-family: "Fira Code", monospace;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

._homepage-scrollable-section {
  display: flex;
  flex-direction: column;
}

._homepage-section {
  display: flex;
  flex-direction: column;
  font-family: var(--homepage-font-family);
  font-optical-sizing: auto;
  font-style: normal;
  padding: 10% 5% 2% 5%;
  height: 75vh;
}

.ms-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.show-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85),
      var(--background-color)
    ),
    url("/public/images/Header-background.webp");
  z-index: -1;
  background-position: center;
  background-size: cover;
  z-index: -1;
  animation: fadeInBackground 2s ease-in-out;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}