@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@import url("./sections/header.css");
@import url("./sections/whoami.css");

@import url("./discover-more.css");
@import url("./language-switch.css");

:root {
  --homepage-font-family: "Fira Code", monospace;
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

._homepage-scrollable-section {
  display: flex;
  flex-direction: column;
}

._homepage-section {
  display: flex;
  flex-direction: column;
  font-family: var(--homepage-font-family);
  font-optical-sizing: auto;
  font-style: normal;
  padding: 10% 5% 2% 5%;
  height: 75vh;
}
