body {
  margin: 0px;
  background-color: var(--background-color);
}

#root {
  &.scroll-overflow {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-done {
  opacity: 0;
  transition: opacity 300ms;
}
