.homepage-projects {
  h2 {
    color: var(--primary-color);
  }

  p {
    color: var(--text-color);
    font-weight: 300;
  }

  #last-repositories-update {
    font-size: 13px;
    color: var(--primary-color);
  }

  #projects-container {
    height: fit-content;
    @media (max-width: 768px) {
      max-width: 90%;
      margin: 10px auto;
    }

    div {
      height: unset;
    }

    .slick-track {
      display: flex;
      flex-direction: row;
    }

    .slick-slide {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .slick-slide > div {
      margin: 3px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .repository-card {
      flex: 1;
      background-color: var(--secondary-color);
      font-family: var(--website-font-family);
      white-space: normal;
      overflow-wrap: break-word;
      word-wrap: break-word;

      .repository-lastupdate {
        font-family: var(--website-font-family);
        font-weight: 300;
        background-color: var(--background-color);
        color: var(--text-color);
        height: fit-content;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-items: center;
          gap: 5px;
          padding: 5px;
          font-size: 14px;
        }
      }

      .repository-name {
        color: var(--primary-color);
        font-weight: 500;
      }

      .repository-description {
        color: var(--text-color);
        font-size: 13px;
        font-weight: 300;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        line-height: 1.5;
        max-height: calc(1.5em * 3);
      }

      .MuiDivider-root {
        margin-top: auto;
        margin-bottom: 16px;
      }

      .repository-main-language {
        font-family: var(--website-font-family);
        font-weight: 300;
        background-color: var(--background-color);
        color: var(--text-color);
        height: fit-content;

        span {
          display: flex;
          flex-direction: row;
          align-items: center;
          vertical-align: middle;
          gap: 5px;
          padding: 5px;
          font-size: 13px;
          font-weight: 300;

          img {
            width: 17px;
            height: 17px;
          }

          p {
            display: inline;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .slick-dots button::before{
      color: var(--primary-color);
    }
  }
}
